* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Pixelify Sans", serif;
}

.body-section {
  display: none;
}

.play-again {
  display: none;
}

.show-winner-container {
  display: none;
}
