* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Pixelify Sans", serif;
  background-image: linear-gradient(
    to right bottom,
    #868e96,
    #495057,
    #868e96,
    #495057
  );
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 100%;
}

.intro-game {
  font-size: 42px;
  font-weight: 700;
}

.intro-rules {
  margin: 20px 0;
}

.intro-p {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}

.intro-button {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  width: 150px;
  padding: 10px;
  color: white;
  background-color: #1971c2;
  border: 2px solid white;
  border-radius: 100px;
}

.intro-button:hover {
  color: white;
  background-color: #339af0;
  border: 2px solid white;
}

.intro-button:active {
  color: #1971c2;
  background-color: white;
  border: 2px solid #1971c2;
  transition: 0.2s;
}

.game-body-section {
  display: none;
}

.game-body-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-h1 {
  margin: 0px 0 10px 0;
  font-size: 42px;
  font-weight: 700;
}

.btn {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  width: 100px;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #1971c2;
  border: 2px solid white;
  border-radius: 100px;
}

.btn:hover {
  color: white;
  background-color: #339af0;
  border: 2px solid white;
}

.btn:active {
  color: #1971c2;
  background-color: white;
  border: 2px solid #1971c2;
  transition: 0.2s;
}

.body-h2 {
  margin: 20px 0 10px 0;
  font-size: 36px;
  font-weight: 600;
}

.body-h3 {
  margin: 20px 0 10px 0;
  font-size: 30px;
  font-weight: 500;
}

.player-result,
.computer-result {
  font-size: 20px;
  font-weight: 400;
}

.body-score {
  font-size: 20px;
  font-weight: 400;
}

.play-again-body-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play-again-btn-container {
  display: flex;
}

.play-buttons {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  width: 150px;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #1971c2;
  border: 2px solid white;
  border-radius: 100px;
}

.play-buttons:hover {
  color: white;
  background-color: #339af0;
  border: 2px solid white;
}

.play-buttons:active {
  color: #1971c2;
  background-color: white;
  border: 2px solid #1971c2;
  transition: 0.2s;
}

.show-winner {
  margin: 0px 0 10px 0;
  font-size: 42px;
  font-weight: 700;
}

.play-again-h2 {
  margin: 20px 0 10px 0;
  font-size: 36px;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.play-again {
  display: none;
}

.show-winner-container {
  display: none;
}

.hide-elements {
  display: none;
}

.show-elements {
  display: contents;
}
